@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@source "../../js/components/**/*.vue";
@source "../../js/tenant/**/*.vue";

@theme static {
    --font-sans: 'Rubik', sans-serif;
}

@layer base {
    a,
    button,
    [role='button'],
    input[type='button'],
    input[type='submit'],
    input[type='reset'] {
        cursor: pointer;
    }

    button:disabled,
    input:disabled,
    a[disabled] {
        cursor: default;
    }

    .dark {
        --ui-primary: var(--ui-color-primary-500);
    }
}
