@import '../../core/css/tailwind.css';
@import 'primeicons/primeicons.css';
@import '../../core/css/layout/layout.css';

@source '../../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.vue';
@source '../**/*.js';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
